{% include 'header.html' %}
{% for empleado in empleados %}
<div class="card">
    <div class="card-header">
        Editar empleado
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos del empleado</h5>
        <p class="card-text">
        <form method="post" action="/update/{{empleado[0]}}" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="txtID" class="col-sm-2 col-form-label col-form-label-sm">ID</label>
                <div class="col-sm-10">
                    <input disabled value="{{ empleado[0] }}" class="form-control form-control-sm" name="txtID"
                        id="txtID">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtNombre" class="col-sm-2 col-form-label col-form-label-sm">Nombre</label>
                <div class="col-sm-10">
                    <input id="txtNombre" value="{{ empleado[1] }}" class="form-control form-control-sm" type="text"
                        name="txtNombre">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtApellido" class="col-sm-2 col-form-label col-form-label-sm">Apellido</label>
                <div class="col-sm-10">
                    <input id="txtApellido" value="{{ empleado[2] }}" class="form-control form-control-sm" type="text"
                        name="txtApellido">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtCorreo" class="col-sm-2 col-form-label col-form-label-sm">Correo</label>
                <div class="col-sm-10">
                    <input id="txtCorreo" value="{{ empleado[3] }}" class="form-control form-control-sm" type="text"
                        name="txtCorreo">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtFoto" class="col-sm-2 col-form-label col-form-label-sm">Foto de perfil</label>
                <div class="col-sm-10">
                    {% if empleado[4] %}

                    <img class="img-thumbnail" width="100" src="{{url_for('uploads', nombreFoto=empleado[4])}}" alt="">
                    {% else %}
                    <img class="img-thumbnail rounded" width="70" src="/data/no-photo.svg" alt="Sin foto de perfil"
                        title="Sin foto de perfil">
                    <!--Foto-->
                    {% endif %}

                    <input id="txtFoto" class="form-control form-control-sm" type="file" name="txtFoto">

                    <a class="btn-link {{'disabled' if not empleado[4]}}"
                        onclick="return confirm('¿Desea borrar la foto de perfil?')"
                        href="/delete-pp/{{empleado[0]}}">Eliminar Foto</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-success btn-sm" value="Guardar">
                    <a href="{{url_for('index')}}" class="btn btn-primary btn-sm">Volver y descartar cambios</a>
                </div>
            </div>
        </form>
        </p>
    </div>
</div>
{% endfor %}
{% include 'footer.html' %}