{% include 'header.html' %}
<br>
<a href="{{url_for('create')}}" class="btn btn-success">Ingresar nuevo empleado</a>
<br>
<br>
{% if cantEmpleados == 0 %}
  <!-- Si no hay empleados muestro un mensaje de bienvenida-->
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">¡Bienvenido!</h4>
    <p>Todavía no hay empleados en el sistema.</p>
    <hr>
    <p class="mb-0">Para agregar un empleado, presiona el botón <i>'Ingresar nuevo empleado'</i> más arriba.</p>
  </div>
 {% else %}
 <!-- Si hay empleados muestro la tabla -->
  <table class="table table-hover">
    <thead class="thead thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for empleado in empleados %}
      <tr>
        <th scope="row">{{empleado[0]}}</th>
        <td>
          {% if empleado[4] %}
          <img class="img-thumbnail rounded " width="70" src="data/uploads/{{empleado[4]}}"
            alt="Foto de {{empleado[1]}}" title="{{empleado[1]}}">
          <!--Foto-->
          {% else %}
          <img class="img-thumbnail rounded" width="70" src="/data/no-photo.svg" alt="Sin foto de perfil"
            title="Sin foto de perfil">
          <!--Foto-->
          {% endif %}
        </td>
        <td>{{empleado[1]}}</td>
        <td>{{empleado[2]}}</td>
        <td>{{empleado[3]}}</td>
        <td>
          <a class="btn btn-warning btn-sm" href="/edit/{{empleado[0]}}">Editar</a> |
          <a class="btn btn-danger btn-sm" onclick="return confirm('¿Desea borrar al empleado?')"
            href="/destroy/{{empleado[0]}}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% include 'footer.html' %}