{% extends 'layout.html' %}
{% block title %} Inicio {% endblock %}
{% block content %}
<br>
<a href="{{url_for('create')}}" class="btn btn-success">Ingresar nuevo empleado</a>
<br>
<br>
{% if employeesCount == 0 %}
  <!-- Show welcome card if there aren't any employees -->
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">¡Bienvenido!</h4>
    <p>Todavía no hay empleados en el sistema.</p>
    <hr>
    <p class="mb-0">Para agregar un empleado, presiona el botón <i>'Ingresar nuevo empleado'</i> más arriba.</p>
  </div>
 {% else %}
 <!-- Shows data if there are any employees -->
  <table class="table table-hover">
    <thead class="thead thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <th scope="row">{{employee.id}}</th>
        <td>
          {% if employee.photo %}
          <!-- Shows profile picture if there's any -->
          <img class="img-thumbnail rounded " width="70" src="data/uploads/{{employee.photo}}"
            alt="Foto de {{ employee.name + ' ' + employee.surname }}" title="{{employee.name + ' ' + employee.surname}}">
          {% else %}
          <!-- Else, shows 'no-photo' image -->
          <img class="img-thumbnail rounded" width="70" src="/data/no-photo.svg" alt="Sin foto de perfil"
            title="Sin foto de perfil">
          {% endif %}
        </td>
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.mail}}</td>
        <td>
          <a class="btn btn-warning btn-sm" href="/edit/{{employee.id}}">Editar</a> |
          <a class="btn btn-danger btn-sm" onclick="return confirm('¿Desea borrar al empleado?')"
            href="/destroy/{{employee.id}}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% endblock %}